:host {
    width: fit-content;
    min-width: fit-content;
    background-color: var(--dark-2);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px; 
    overflow: hidden;
}

:host:not(:last-child) {
    margin-right: 10px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-family: var(--text-font);
}

.name {
    margin: 0px;
    font-weight: 600;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.rating {
    width: fit-content;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.rating > p {
    margin: 0px;
}

.rating > img {
    width: 18px;
    height: 18px; 
    margin-left: 5px
}


:host(.default) .name {
    width: 140px;
    font-size: 18px;
}

:host(.default) {
    min-height: 160px;
}

:host(.small) .name {
    width: 100px;
    font-size: 14px;
}

:host(.small) {
    min-height: 130px;
}