:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.comment-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-box h3 {
    margin: 0px;
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 500;
}

.comment-box .write-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.write-box img {
    height: 40px;
    height: 40px;
}

.write-box input {
    min-height: 40px;
    width: 100%;
    border: 1px solid var(--purple-3);
    background-color: var(--pale);
    border-radius: 5px;
    font-family: var(--text-font);
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
}

.write-box input:focus {
    outline: none;
}

.comment-box .btn-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.comments-cont {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--dark-2);
    box-sizing: border-box;
}