@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--white);
}

html, body {
    scroll-behavior: smooth;
}

:root {
    --title-font: "Lexend", sans-serif;
    --text-font: "Hind Vadodara", sans-serif;
    --white: #F8FAFC;
    --black: #060A0F;
    --pale: #E9EAEA;
    --light-dim: #f8fafcc9;
    --disabled: #5F5F5F;
    --error: #F14242;
    --dark-translucent: #222831c2;
    --dark-0: #0E1014;
    --dark-1: #14181D;
    --dark-2: #1B2027;
    --dark-3: #222831;
    --dark-4: #383E46;
    --blue-0: #4D6F9A;
    --blue-1: #608BC1;
    --purple-1: #43478A;
    --purple-2: #5459AC;
    --purple-3: #767ABD;
}


/* Header suggestions since overlap is not allowed */
.suggestions {
  width: 500px;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--pale);
  border: 1px solid var(--purple-2);
  box-sizing: border-box;
  padding: 10px;
  gap: 5px;
  border-radius: 0px 0px 5px 5px;
}

.suggestions a {
    width: 100%;
    text-decoration: none;
}

.suggestions a div {
    width: 100%;
    color: var(--dark-0);
    font-family: var(--text-font);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--purple-3);
}

.suggestions .advanced a {
    display: flex;
    align-items: center;
    font-family: var(--text-font);
    color: var(--dark-0);
    gap: 5px;
}