:host {
    padding: 0px 20px;
    font-family: var(--text-font);
}

.cont {
    background-color: var(--dark-2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.mini-pics-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    max-width: 400px; 
}


.hero-mini-pic{
    width: 100%;
    background-color: var(--dark-3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.info{
    font-family: var(--text-font);
    padding: 0px 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.title-and-pics{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
}


.title-and-pics h2{
    width: 100%;
    font-size: 32px;
    margin: 0px 0px 10px 0px;
    font-family: var(--title-font);
}

.genres {
    display: flex;
    align-items: center;
}

.genres h3 {
    font-weight: 500;
    margin: 0px 5px 0px 0px;
}

.genres span {
    margin: 0px 2px 0px 0px;
    font-size: 16px;
    text-decoration: underline;
}