:host {
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 700px;
    margin-top: 20px;
    padding: 50px 0px;
    background-color: var(--dark-2);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.login-container h2 {
    margin: 0px;
    font-size: 32;
    font-weight: 600;
    font-family: var(--title-font);
}

#login-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

custom-input {
    width: 100%;
    font-family: var(--text-font);
}

.register-link {
    color: var(--purple-3);
    margin-bottom: 20px;
    font-family: var(--text-font);
    font-size: 18px;
}


button {
    width: 250px;
    height: 50px;
    border: 1px solid var(--purple-2);
    background-color: var(--dark-4);
    color: var(--white);
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    font-family: var(--text-font);
    cursor: pointer;
}


.signIn-with {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;
}