:host {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-1);
    border-bottom: 1px solid var(--purple-2);
}

.header-rows {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.categories {
    display: none;
}
.categories.active {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-2);
    height: auto;
    gap : 10px;
    border-top: 1px solid var(--purple-2);
}
.categories.active custom-button {
    color : var(--white);
    gap: 3px;
    margin-top: 8px;
    align-items: center;
    background-color: var(--dark-4);
    border-radius: 5px;
    border: 1px solid var(--blue-1);
}
.categories.active a {
    text-decoration: none;
}
.menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap : 10px;
    align-items: center;
}
.logo-container custom-button {
   border: none;
   border-radius: 0%;
   box-sizing: content-box;
   padding: 0;
   margin-left: 5px;
}

.logo-container img {
    height: 100%;
    max-height: 40px;
    aspect-ratio: 139 / 40;
    margin-top: 8px;
}
.logo-container img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.search-container {
    width: 500px;
    height: 34px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
    margin: 0px;
    background-color: var(--pale);
    border-radius:  5px;
    overflow: hidden;
    border: 1px solid var(--purple-2);
}
.search-input custom-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    pointer-events: none;
    z-index: 6;
}

.search-container input {
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    padding: 5px 15px 5px 5px;
    font-size: var(--text-font);
}


.suggestions a {
    display: flex;
    font-family: var(--text-font);
    flex-direction: row;
    color : var(--dark-1);
    text-decoration: none;
    border-bottom: 2px solid var(--purple-2);
    padding-top: 4px;
    padding-left: 8px;
    z-index: 99999;
}

