:host {
    font-family: var(--text-font);
    border-radius: 5px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

p {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    text-wrap: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;        
}

:host(.default) {
    background-color: var(--dark-4);
    border: 1px solid var(--purple-2);
}

:host(.default-selected) {
    background-color: var(--purple-1);
    border: 1px solid var(--purple-2);
}

:host(.secondary) {
    background-color: var(--dark-4);
    border: 1px solid var(--blue-1);
}

:host(.secondary-selected) {
    background-color: var(--blue-0);
    border: 1px solid var(--blue-1);
}

custom-icon {
    margin-right: 10px;
}